# To ignore files that you commited already do: git rm --cached file_path

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# venv in python backend
flask-placefinder-backend/moodatlasenv/

# springboot aplication props 
springboot-user-backend/src/main/resources/application.properties
springboot-user-backend/target/classes/application.properties

# file itself
.gitignore

# info file
README.txt